{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='{% static "login.css" %}' rel="stylesheet">

<div class="wrapper">

    {% if  authenticated %}
        <div class="row">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-{{ message.tags }}">{{ message }}</>
                    {% endfor %}
                {% endif %}
                <H1>You are logged In!</H1>
            
            
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>

        <form method='post' action="" class="form-signin">
            {% csrf_token %}
            <a href="{% url 'change_password' %}" class="btn btn-lg btn-success btn-block">Change Password</a>
            <br>
            <a href="{% url 'logout' %}" class="btn btn-lg btn-danger btn-block">LogOut</a>
        </form>
    {% else %}
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">

                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-{{ message.tags }}">{{ message }}</>
                    {% endfor %}
                {% endif %}

                <H3>This is the public page, Please <a href="{% url 'login' %}">Login</a></H3><br>
                <h3>Don't have an account? <a href="{% url 'signup' %}">Sign Up Now!</a></h3>   
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>

    {% endif %}
    
   
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <p>You can view API using POSTMAN <a href="{% url 'profiles' %}" class="btn btn-sm btn-info btn-block">GET URL HERE</a></p>
            
            <a href="{% url 'token' %}" class="btn btn-md btn-info btn-block">View API TOKENS</a>
        </div>  
    </div>
</div>
