{%extends 'index.html' %}
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href='{% static "login.css" %}' rel="stylesheet">

<div class="wrapper">
    
    <form method='post' action="" class="form-signin">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <h2 class="form-signin-heading">Please login</h2>
        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""/>
        <br>
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
        <a href="{% url 'signup' %}" class="btn btn-lg btn-success btn-block">Sign Up</a>
    </form>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <p>View API using POSTMAN <a href="{% url 'profiles' %}" class="btn btn-lg btn-info btn-block">GET URL HERE</a></p>
        <a href="{% url 'token' %}" style= 'float:right' class="btn btn-lg btn-info btn-block">View API TOKENS</a>
    </div>  
</div>